<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duongame.basicplayer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/player"
        android:label="${APP_NAME}"
        android:theme="@style/AppTheme"
        android:name=".PlayerApplication">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PlayerActivity"
            android:theme="@style/PlayerTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="479ae7d868a353eb8da82e059fd1a04418af3cf3" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8174809468024854~1143658840"/>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />-->
</manifest>